/* General stylings for webpage */
a,
a:focus,
a:hover,{
  text-decoration: none;
  color: #111;
}
html, body{
  height: 100%;
  overflow: auto;
}

body{
  text-align: center;
  font-size: 16px;
}

/* End of genereal styles */

/* Additional styling ofr sight wrapper */
.site-wrapper {
  display: table;
  width: 100%;
  height: 200%; /* For at least Firefox */
  min-height: 100%;
  background-color: grey;
  /* -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5); */
}

/* Contact button for masthead (NOT A BUTTON YET) */
.contact{
  list-style-type: none;
  float: right;
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  padding: 10px;
  margin-top: 15px;
  margin-right: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
.contact-inner{
  color: black;
}
/* End of contact button */

/* masthead for webpage */
.masthead{
  width: 100%;
  position: relative;
  background-color: grey;
  border: 1px solid transparent;
  left: 0;
}

.masthead-brand{
  width: 100px;
  position: relative;
  margin-left:auto;
  margin-right: auto;
}
  /* Logo with name for masthead */
.logo{
  color: black;
  border: 1px solid transparent;
}
/* end of logo and masthead */

/* Container to make content below masthead */
#intro-section{
  margin-top: 80px;
}

/* Border to see area of splash page that I'm working with */
.splash-cover{
  border: 1px solid transparent;
  height: 800px;
  padding-left: 30px;
}

/* Circular photo for headshot image */
.photo-circle{
  border: 1px solid transparent;
  width: 250px;
  height: 250px;
  margin-left: 30px;
  margin-top: 30px;
  float: left;

}

.img-circle{
  border: 1px solid transparent;
  height: 250px;
  width: 250px;
}
/* End of headshot image */

/* Text on splash page */
.intro{
  border: 1px solid transparent;
  width: 600px;
  float: left;
  margin-top: 50px;
  color: white;
  text-align: left;
}

#intro-text1{
  font-size: 4em;
  padding-left: 20px;
}
#intro-text2{
  font-size: 2em;
  padding-left: 20px;
  margin-bottom: -20px;
  font-style: oblique;
}
#intro-text3{
  font-size: 1.7em;
  padding-left: 20px;
  margin-top: -10px;
}
.intro-description{
  padding: 50px;
  clear: both;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 1.4em;
  text-align: justify;
}

/* Grid with list of skills */
.skill-list{
  border:1px solid transparent;
  height: 200px;
  margin-left: auto;
}
.skill-head{
  font-size: 2em;
  float: left;
  margin-top: 70px;
  margin-left: 300px;
}
.skills{
  width:500px;
  margin-left: 350px;
  font-size: 1.4em;
  border: 1px solid transparent;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: 40px;
}
/* End of Splash page content */

#section2{
  height:100vh;
  background-color: white;
}
.portfolio-content{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
.heading{
  padding-top: 100px;
  padding-bottom: 100px;
}



#section3{
  height:100vh;
  margin: auto;
}



/* For extra small media (iphone x) !No bootstrap compatability */
@media (max-width: 415px)  {
  #intro-text1{
    font-size: 3.5em;
  }
  #intro-text3{
    font-size: 1.4em;
  }
  .intro{
    width:
  }
  .intro-description{
    padding: 40px 10px 0px 10px
  }
}
/* For smaller media (xs bootstrap) */
@media (max-width: 767px) {
  /* Bring down font in the intro sections */
  .intro,
  .intro-description,
  .skill-list{
    font-size: 12px;
  }
  .intro{
    font-size: .5em;
  }
  .logo{
    font-size: 28px;
  }

  /* Shift margins to fit smaller page */
  #intro-section{
    margin-top: 30px;
    height: 90vh;
  }
  .contact{
    margin-right: 0px;
  }
  .intro-description{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: .9em;
  }
  .splash-cover{
    margin-left: 10%;
    padding-left: 0px;
    margin-right: 10%;
  }
  .skill-head{
    margin-left: 45%;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 1.8em;
  }
  .skills{
    margin-left: 0;
    width:90%;
    font-size: 1.2em;
  }
  .intro{
    width: 45%;
    margin-top: 10px;
  }
  /* Shift sizing of some div containers and items */
  .photo-circle{
    height: 120px;
    width: 120px;
  }
  .img-circle{
    height: 120px;
    width: 120px;
  }
/* End of adjusting intro to mobile format */
/* Adjust contents section for mobile format */
  .portfolio-content{
    padding-left: 10%;
    padding-right: 10%;
  }
  .heading{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .heading > h1{
    font-size: 1.8em;
  }
  #section2{
    height: max(100vh, 900px);
  }
  .img-wrap{
    position: relative;
    margin-bottom: 10px;
    padding: 50px 0 0 0;
  }
  .img-thumbnail{
    width: 60%;
  }
  .project-description{
    font-size: 24px;
  }
  .description-layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: black;
  }
/* Content for project pages */
  .project-box{
    border: 1px solid;
    margin: 30px 10% 0 10%;
    padding: 10px;
  }
  .project-step{
    border: 1px solid;
    margin-bottom: 20px;
  }



}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) {
  /* CSS for project images w/ hover effect */

  .img-wrap{
    position: relative;
  }
  .img-thumbnail{
    width: 90%;
  }
  .description-layer{
    margin: auto;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: opacity. .2s, visibility.2;
  }

  .img-wrap:hover .description-layer{
    visibility: visible;
    opacity: 1;
  }

  .project-description{
    transition: .2s;
    transform: translateY(1em);
    color: black;
  }

  .img-wrap:hover .project-description{
    transform: translateY(0);
  }
  /* End of project image effect */
}
